*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}

.container{
    margin:2%;
    padding:5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.buttons{
    display:flex;
    gap:15px;
    height:40px;
}
.btn{
    padding: 10px;
    width:100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#increment,#decrement{
    background-color: white;
    color:black;

}
#clear{
    background-color: black;
    display:none;
    border: 1px solid white;
    color:white;
}
.count{
    align-self: flex-start;
    padding:15px;
    border-bottom: 2px solid white;
}
.error{
    visibility: hidden;
    color: red;
}